body {
    font-family: Arial, Helvetica, sans-serif;
}

.Weather {
    margin-top: 30px;
    padding: 20px;
    border: 0.5px solid #606470;
    border-radius: 20px;
    background: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
    color: #606470;
}

.Weather form .form-control {
    border-radius: 12px;
    border: 0.5px solid #606470;
}

.Weather form .search-button {
    border-radius: 12px;
    border: 0.5px solid #606470;
    line-height: 33px;
    background: white;
    transition: all 150ms ease-in-out;
    color: #606470;
}

.Weather form .search-button:hover {
background: #606470;
color: whitesmoke;
}

.Weather .current-location h1 {
   margin-bottom: 0px; 
   margin-top: 15px;
   color: #393e46;
   font-size: 30px;
   font-weight: 300;
   line-height: 29px;
}

.Weather .current-location canvas {
    margin-right: 7px;
    margin-top: 15px;
    position: relative;
    top: -14px;
    opacity: 0.9;
}

.Weather .current-location .temperature {
    color: #393e46;
    font-size: 55px;
    line-height: 64px;
    position: relative;
    top: -24px;
}

.Weather .current-location .units {
    position: relative;
    font-size: 16px;
    top: -52px;
}

.Weather .current-location .units a {
    text-decoration: none;
}

.Weather .current-location ul {
    list-style-type: none;
    padding-left: 0px;
}

.Weather .current-location .information {
   margin: 0px 20px;
}
